.chart {
    width: 600px;
    height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.chart-wide {
    width: 600px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
